{% extends 'base.html.twig' %}

{% block title %}Tiemoko's Blog{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/show_twig.css') }}">
{% endblock %}

{% block javascripts %}
    <script defer src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
{% endblock %}

{% block body %}
    <div class="link">
        <a href=" {{ path("blog") }} ">Retournez vers la liste des articles</a>
        <div class="edits">
            <a href="{{ path('blog_edit', {id: article.id}) }}"><i class="fas fa-pencil-alt"></i></a>
            <a href="#"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y')}} à {{ article.createdAt | date('H:i') }} dans la catégorie {{ article.category }}</div>
            <div class="content">
                <img src="{{ article.image }}" alt="">
            </div>
            <div class="content">
                {{ article.content | raw }}
            </div>
     </article>
{% endblock %}