<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TiemDev's Blog{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/base_twig.css') }}">
        {% endblock %}

        {% block javascripts %}
            
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('home') }}">TiemDev's Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto p-2">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('blog') }}">Liste des Articles
                        <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('blog_create') }}">Créez un article</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav p-2">
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('blog_logout') }}">Déconnexion</a>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('blog_login') }}">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('blog_register') }}">Créez un compte</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
        {% block body %}

        {% endblock %}
        </div>
        <footer class="foot-side">
            <p>&copy Designed and created by TiemDev</p>
        </footer>
    </body>
</html>
